<style>
/* MAIN CONTENT FONT SIZE */
.page__content p,
.page__content li {
  font-size: 18px;   /* try 13px or 15px if you want to tweak */
  line-height: 1.6;
}

/* PAGE TITLES */
.page-title,
h1 {
  font-size: 26px;
}

/* SECTION HEADINGS */
h2 {
  font-size: 23px;
}

h3 {
  font-size: 10px;
}

/* SIDEBAR TEXT (name, email, links, icons) */
.sidebar__content,
.sidebar .social-icons li {
  font-size: 12px;
}

.author__bio {
  font-size: 18px !important;    /* try 11px or 10px if you want smaller */
  line-height: 1.4;
}

  .greedy-nav {
    display: flex;
    justify-content: flex-start;   /* title + links start from the left */
  }

  /* put some space between "Wei Fan" and the menu items */
  .greedy-nav .site-title {
    margin-right: 2rem;
  }

  /* remove the auto-push that sends nav items to the right */
  .greedy-nav .visible-links {
    margin-left: 0;
  }

  /* make sure menu items don't float right */
  .greedy-nav .visible-links li {
    float: none;
  }


</style>
